/* .clientes-container{
   display: flex;
   flex-direction: column;
   margin-top: 1rem;
}

.home-container{
   display: flex;
   flex-direction: column;
   flex: 1;
   align-items: center
}

.btn-search {
   margin-left: 5rem;
}

.btn-primary {
   color: #000;
   background-color: #ffb509;
   border-color: #ffb509;
}

.btn-warning {
   color: #000;
   background-color: #ffb509;
   border-color: #ffb509;
}

.page-item.active .page-link {
   color: #000;
   background-color: hsl(42, 100%, 52%);
   border-color: #ffb509;
}

.page-link {
   color: #000;
}

.page-link:hover {
   box-shadow: 0 0 0 0.2rem rgb(0 0 0 / 10%);
}

.page-link:focus {
   box-shadow: 0 0 0 0.2rem rgb(0 0 0 / 10%);
}

.table {
   max-width: 1300px;
   flex-direction: column;
   align-items: center;
   justify-content: center;
 
   margin: 0 auto;
   border-radius: 10px;
   border: 2px solid #dee2e6;
}

.table thead th {
   text-align: left;
   border: 2px solid #dee2e6;
}

.btn-search {
   margin-left: 10px !important;
}

.table td{
   text-align: right;
   vertical-align: baseline;
   border: 2px solid #dee2e6;
   padding: 5px !important;
} 

/* .table .text{
   text-align: left;
}

.table .icon {
   vertical-align: inherit;
}

.table .acoes{
   text-align: center;
}

th {background: #fff}
tr:nth-child(even) {background: #FFF}
tr:nth-child(odd) {background: #EEE}

@media all and (max-width: 768px) {
   .home-container {
      margin-left: 0;
   }

   .table {
      border: none !important;
      margin: 0 3rem;
   }

   .search-user {
      margin-left: 0 !important;
   }

   .pagination {
      margin-bottom: 15px;
   }

   table tbody tr td {
      display: block;
      text-align: right !important;
   }

   table tbody tr td::before {
      content: attr(data-title);
      position: absolute;
      display: block;
   }

   td {
      min-width: 24.5rem;
   }

   table {
      border: none;
   }

   table thead {
      display: none;
   }

   table tbody tr {
      margin-bottom: 10px;
      display: block;
      border: 1px solid #dad6eb;
   }

   .clientes-container{
      margin-left: 1rem;
      margin-right: 1rem;
      min-width: 23rem;
   }
} */
 
 /* desktop */
/* @media only screen and (min-width: 767px) {
   .input-group {
      width: 80%;
   }
   
   .table {
      margin: 2rem 1rem;
      margin-left: 7rem;
   }

   .clientes-container{
      margin-left: 16rem;
      margin-right: 7rem;
   }
} */