@media (min-width: 766px) {
   .table-scroll{
      max-width: 100%;
      overflow-x: scroll
   }

   .mentor-icon{
      display: flex;
      place-content: baseline center;
      justify-content: center;
   }

}

@media (max-width: 767px) {
   .table-scroll{
      width: 100%;
      /* margin-right: 2rem; */
   }

   .mentor-icon {
      display: flex;
      place-content: flex-end;
   }
}