.clientes-container{
   display: flex;
   flex-direction: column;
   margin-top: 1rem;
}

.home-container{
   display: flex;
   flex-direction: column;
   flex: 1;
   align-items: center
}

.btn-search {
   margin-left: 5rem;
}

.btn-primary {
   color: #000;
   background-color: #ffb509;
   border-color: #ffb509;
}

.btn-warning {
   color: #000;
   background-color: #ffb509;
   border-color: #ffb509;
}

.page-item.active .page-link {
   color: #000;
   background-color: #ffb509;
   border-color: #ffb509;
}

.page-link {
   color: #000;
}

.page-link:hover {
   box-shadow: 0 0 0 0.2rem rgb(0 0 0 / 10%);
}

.page-link:focus {
   box-shadow: 0 0 0 0.2rem rgb(0 0 0 / 10%);
}

.input-group {
   width: 50%;
   margin: 1rem;
}

.table {
   max-width: 1300px;
   flex-direction: column;
   align-items: center;
   justify-content: center;
 
   margin: 0 auto;
   border-radius: 10px;
   border: 2px solid #dee2e6;
}

.table thead th {
   text-align: center;
}

.table td {
   text-align: center;
}

tr button {
   background: none;
   border: none;
   color: blue;
}

tr a {
   color: blue;
   outline: none;
   margin-right: 0.8rem;
}

tr a:hover {
   text-decoration: none;
}


@media only screen and (max-width: 766px) {
   .home-container {
      margin-left: 0;
   }

   .input-group {
      width: 80%;
      margin: 1rem;
   }

   .table {
      margin: 1rem;
   }
}
 
 /* desktop */
@media only screen and (min-width: 767px) {
   .input-group {
      width: 50%;
   }
   
   .table {
      margin: 2rem 1rem;
      margin-left: 7rem;
   }
}